vice/.aclocal.out
vice/.autoconf.out
vice/.autoheader.out
vice/.automake.out
vice/Makefile
vice/Makefile.in
vice/aclocal.m4
vice/autom4te.cache
vice/build/Makefile
vice/build/Makefile.in
vice/build/mingw32/mingw32-3.4.2-20040916-1
vice/build/mingw32/source
vice/config.log
vice/config.status
vice/config.status.lineno
vice/configure
vice/data/C128/Makefile
vice/data/C128/Makefile.in
vice/data/C64/Makefile
vice/data/C64/Makefile.in
vice/data/C64DTV/Makefile
vice/data/C64DTV/Makefile.in
vice/data/CBM-II/Makefile
vice/data/CBM-II/Makefile.in
vice/data/DRIVES/Makefile
vice/data/DRIVES/Makefile.in
vice/data/Makefile
vice/data/Makefile.in
vice/data/PET/Makefile
vice/data/PET/Makefile.in
vice/data/PLUS4/Makefile
vice/data/PLUS4/Makefile.in
vice/data/PRINTER/Makefile
vice/data/PRINTER/Makefile.in
vice/data/VIC20/Makefile
vice/data/VIC20/Makefile.in
vice/data/c1541.exe
vice/data/c1541.ilk
vice/data/c1541.pdb
vice/data/cartconv.exe
vice/data/cartconv.ilk
vice/data/cartconv.pdb
vice/data/fonts/Makefile
vice/data/fonts/Makefile.in
vice/data/genmsvcver.exe
vice/data/genmsvcver.ilk
vice/data/genmsvcver.pdb
vice/data/gentranslate.exe
vice/data/gentranslate.ilk
vice/data/gentranslate.pdb
vice/data/genwinres.exe
vice/data/genwinres.ilk
vice/data/genwinres.pdb
vice/data/petcat.exe
vice/data/petcat.ilk
vice/data/petcat.pdb
vice/data/vice.ini
vice/data/vice.log
vice/data/x128.exe
vice/data/x128.ilk
vice/data/x128.pdb
vice/data/x64.exe
vice/data/x64.ilk
vice/data/x64.pdb
vice/data/x64dtv.exe
vice/data/x64dtv.ilk
vice/data/x64dtv.pdb
vice/data/xcbm2.exe
vice/data/xcbm2.ilk
vice/data/xcbm2.pdb
vice/data/xpet.exe
vice/data/xpet.ilk
vice/data/xpet.pdb
vice/data/xplus4.exe
vice/data/xplus4.ilk
vice/data/xplus4.pdb
vice/data/xvic.exe
vice/data/xvic.ilk
vice/data/xvic.pdb
vice/depcomp
vice/doc/Makefile
vice/doc/Makefile.in
vice/doc/html/Makefile
vice/doc/html/Makefile.in
vice/doc/texinfo.tex
vice/man/Makefile
vice/man/Makefile.in
vice/missing
vice/po/*.gmo
vice/po/*.mo
vice/po/Makefile
vice/po/Makefile.in
vice/po/POTFILES
vice/po/cat-id-tbl.c
vice/po/intl2po
vice/po/intl2po.exe
vice/po/stamp-cat-id
vice/po/vice.pot
vice/src/.deps
vice/src/Makefile
vice/src/Makefile.in
vice/src/arch/Makefile
vice/src/arch/Makefile.in
vice/src/arch/amigaos/.deps
vice/src/arch/amigaos/Makefile
vice/src/arch/amigaos/Makefile.in
vice/src/arch/amigaos/intl.c.po.c
vice/src/arch/beos/.deps
vice/src/arch/beos/Makefile
vice/src/arch/beos/Makefile.in
vice/src/arch/msdos/.deps
vice/src/arch/msdos/Makefile
vice/src/arch/msdos/Makefile.in
vice/src/arch/msdos/libarch.a
vice/src/arch/os2/.deps
vice/src/arch/os2/Makefile
vice/src/arch/os2/Makefile.in
vice/src/arch/os2/dialogs/.deps
vice/src/arch/os2/dialogs/Makefile
vice/src/arch/os2/dialogs/Makefile.in
vice/src/arch/os2/dialogs/dlg-all.rc
vice/src/arch/os2/kbd/.deps
vice/src/arch/os2/kbd/Makefile
vice/src/arch/os2/kbd/Makefile.in
vice/src/arch/os2/snippets/.deps
vice/src/arch/os2/snippets/Makefile
vice/src/arch/os2/snippets/Makefile.in
vice/src/arch/os2/vac++/Makefile
vice/src/arch/os2/vac++/Makefile.in
vice/src/arch/os2/watcom/*.err
vice/src/arch/os2/watcom/*.exe
vice/src/arch/os2/watcom/*.lb1
vice/src/arch/os2/watcom/*.lib
vice/src/arch/os2/watcom/*.lk1
vice/src/arch/os2/watcom/*.map
vice/src/arch/os2/watcom/*.mk
vice/src/arch/os2/watcom/*.mk1
vice/src/arch/os2/watcom/*.obj
vice/src/arch/os2/watcom/*.res
vice/src/arch/os2/watcom/*.sym
vice/src/arch/riscos/.deps
vice/src/arch/riscos/Makefile
vice/src/arch/riscos/Makefile.in
vice/src/arch/unix/.deps
vice/src/arch/unix/Makefile
vice/src/arch/unix/Makefile.in
vice/src/arch/unix/gp2x/.deps
vice/src/arch/unix/gp2x/Makefile
vice/src/arch/unix/gp2x/Makefile.in
vice/src/arch/unix/gp2x/libarchgp2x.a
vice/src/arch/unix/gui/.deps
vice/src/arch/unix/gui/Makefile
vice/src/arch/unix/gui/Makefile.in
vice/src/arch/unix/gui/libarchgui.a
vice/src/arch/unix/libarch.a
vice/src/arch/unix/macosx/.deps
vice/src/arch/unix/macosx/Makefile
vice/src/arch/unix/macosx/Makefile.in
vice/src/arch/unix/macosx/Resources/English.lproj/Makefile
vice/src/arch/unix/macosx/Resources/English.lproj/Makefile.in
vice/src/arch/unix/macosx/Resources/Makefile
vice/src/arch/unix/macosx/Resources/Makefile.in
vice/src/arch/unix/macosx/cocoa/.deps
vice/src/arch/unix/macosx/cocoa/Makefile
vice/src/arch/unix/macosx/cocoa/Makefile.in
vice/src/arch/unix/macosx/cocoa/dialog/.deps
vice/src/arch/unix/macosx/cocoa/dialog/Makefile
vice/src/arch/unix/macosx/cocoa/dialog/Makefile.in
vice/src/arch/unix/macosx/cocoa/menu/.deps
vice/src/arch/unix/macosx/cocoa/menu/Makefile
vice/src/arch/unix/macosx/cocoa/menu/Makefile.in
vice/src/arch/unix/macosx/cocoa/view/.deps
vice/src/arch/unix/macosx/cocoa/view/Makefile
vice/src/arch/unix/macosx/cocoa/view/Makefile.in
vice/src/arch/unix/readline/.deps
vice/src/arch/unix/readline/Makefile
vice/src/arch/unix/readline/Makefile.in
vice/src/arch/unix/x11/.deps
vice/src/arch/unix/x11/Makefile
vice/src/arch/unix/x11/Makefile.in
vice/src/arch/unix/x11/gnome/.deps
vice/src/arch/unix/x11/gnome/Makefile
vice/src/arch/unix/x11/gnome/Makefile.in
vice/src/arch/unix/x11/gnome/libgnomeui.a
vice/src/arch/unix/x11/libx11ui.a
vice/src/arch/unix/x11/xaw/.deps
vice/src/arch/unix/x11/xaw/Makefile
vice/src/arch/unix/x11/xaw/Makefile.in
vice/src/arch/unix/x11/xaw/libxawui.a
vice/src/arch/unix/x11/xaw/widgets/.deps
vice/src/arch/unix/x11/xaw/widgets/Makefile
vice/src/arch/unix/x11/xaw/widgets/Makefile.in
vice/src/arch/unix/x11/xaw/widgets/libwidgets.a
vice/src/arch/win32/*.plg
vice/src/arch/win32/.deps
vice/src/arch/win32/Debug
vice/src/arch/win32/Makefile
vice/src/arch/win32/Makefile.in
vice/src/arch/win32/Release
vice/src/arch/win32/libarch.a
vice/src/arch/win32/libs
vice/src/arch/win32/menuid.h
vice/src/arch/win32/msvc/msvc_ver.h
vice/src/arch/win32/res.h
vice/src/arch/win32/res.rc.po.c
vice/src/arch/win32/resacia.rc.po.c
vice/src/arch/win32/resc128.rc.po.c
vice/src/arch/win32/resc128cat.RES
vice/src/arch/win32/resc128cat.rc
vice/src/arch/win32/resc64.rc.po.c
vice/src/arch/win32/resc64_256k.rc.po.c
vice/src/arch/win32/resc64cat.RES
vice/src/arch/win32/resc64cat.rc
vice/src/arch/win32/resc64dtv.rc.po.c
vice/src/arch/win32/resc64dtvcat.RES
vice/src/arch/win32/resc64dtvcat.rc
vice/src/arch/win32/rescbm2.rc.po.c
vice/src/arch/win32/rescbm2cat.RES
vice/src/arch/win32/rescbm2cat.rc
vice/src/arch/win32/resdigimax.rc.po.c
vice/src/arch/win32/resdrivec128.rc.po.c
vice/src/arch/win32/resdrivec64.rc.po.c
vice/src/arch/win32/resdrivepetcbm2.rc.po.c
vice/src/arch/win32/resdriveplus4.rc.po.c
vice/src/arch/win32/resdrivevic20.rc.po.c
vice/src/arch/win32/resgeoram.rc.po.c
vice/src/arch/win32/reside64.rc.po.c
vice/src/arch/win32/resmmc64.rc.po.c
vice/src/arch/win32/resmouse.rc.po.c
vice/src/arch/win32/respet.rc.po.c
vice/src/arch/win32/respetcat.RES
vice/src/arch/win32/respetcat.rc
vice/src/arch/win32/respetreu.rc.po.c
vice/src/arch/win32/resplus256k.rc.po.c
vice/src/arch/win32/resplus4.rc.po.c
vice/src/arch/win32/resplus4cat.RES
vice/src/arch/win32/resplus4cat.rc
vice/src/arch/win32/resplus60k.rc.po.c
vice/src/arch/win32/resramcart.rc.po.c
vice/src/arch/win32/resreu.rc.po.c
vice/src/arch/win32/resrs232user.rc.po.c
vice/src/arch/win32/ressid.rc.po.c
vice/src/arch/win32/ressidcart.rc.po.c
vice/src/arch/win32/restfe.rc.po.c
vice/src/arch/win32/resvic20.rc.po.c
vice/src/arch/win32/resvic20cat.RES
vice/src/arch/win32/resvic20cat.rc
vice/src/arch/win32/resvicii.rc.po.c
vice/src/arch/win32/utils/.deps
vice/src/arch/win32/utils/Makefile
vice/src/arch/win32/utils/Makefile.in
vice/src/arch/win32/utils/genwinres.exe
vice/src/arch/win32/vice.ncb
vice/src/arch/win32/vice.opt
vice/src/arch/win32/watcom/*.err
vice/src/arch/win32/watcom/*.exe
vice/src/arch/win32/watcom/*.lb1
vice/src/arch/win32/watcom/*.lib
vice/src/arch/win32/watcom/*.lk1
vice/src/arch/win32/watcom/*.map
vice/src/arch/win32/watcom/*.mk
vice/src/arch/win32/watcom/*.mk1
vice/src/arch/win32/watcom/*.obj
vice/src/arch/win32/watcom/*.res
vice/src/arch/win32/watcom/*.sym
vice/src/c128/.deps
vice/src/c128/Makefile
vice/src/c128/Makefile.in
vice/src/c128/libc128.a
vice/src/c1541
vice/src/c1541.exe
vice/src/c64/.deps
vice/src/c64/Makefile
vice/src/c64/Makefile.in
vice/src/c64/cart/.deps
vice/src/c64/cart/Makefile
vice/src/c64/cart/Makefile.in
vice/src/c64/cart/libc64cart.a
vice/src/c64/libc64.a
vice/src/c64/libc64c128.a
vice/src/c64/libc64c64dtv.a
vice/src/c64dtv/.deps
vice/src/c64dtv/Makefile
vice/src/c64dtv/Makefile.in
vice/src/c64dtv/libc64dtv.a
vice/src/c64dtv/libc64dtvstubs.a
vice/src/cartconv
vice/src/cartconv.exe
vice/src/cbm2/.deps
vice/src/cbm2/Makefile
vice/src/cbm2/Makefile.in
vice/src/cbm2/libcbm2.a
vice/src/config.h
vice/src/config.h.in
vice/src/core/.deps
vice/src/core/Makefile
vice/src/core/Makefile.in
vice/src/core/libcore.a
vice/src/crtc/.deps
vice/src/crtc/Makefile
vice/src/crtc/Makefile.in
vice/src/crtc/libcrtc.a
vice/src/diskimage/.deps
vice/src/diskimage/Makefile
vice/src/diskimage/Makefile.in
vice/src/diskimage/libdiskimage.a
vice/src/drive/.deps
vice/src/drive/Makefile
vice/src/drive/Makefile.in
vice/src/drive/iec/.deps
vice/src/drive/iec/Makefile
vice/src/drive/iec/Makefile.in
vice/src/drive/iec/c64exp/.deps
vice/src/drive/iec/c64exp/Makefile
vice/src/drive/iec/c64exp/Makefile.in
vice/src/drive/iec/c64exp/libdriveiecc64exp.a
vice/src/drive/iec/libdriveiec.a
vice/src/drive/iec/plus4exp/.deps
vice/src/drive/iec/plus4exp/Makefile
vice/src/drive/iec/plus4exp/Makefile.in
vice/src/drive/iec/plus4exp/libdriveiecplus4exp.a
vice/src/drive/iec128dcr/.deps
vice/src/drive/iec128dcr/Makefile
vice/src/drive/iec128dcr/Makefile.in
vice/src/drive/iec128dcr/libdriveiec128dcr.a
vice/src/drive/iecieee/.deps
vice/src/drive/iecieee/Makefile
vice/src/drive/iecieee/Makefile.in
vice/src/drive/iecieee/libdriveiecieee.a
vice/src/drive/ieee/.deps
vice/src/drive/ieee/Makefile
vice/src/drive/ieee/Makefile.in
vice/src/drive/ieee/libdriveieee.a
vice/src/drive/libdrive.a
vice/src/drive/tcbm/.deps
vice/src/drive/tcbm/Makefile
vice/src/drive/tcbm/Makefile.in
vice/src/drive/tcbm/libdrivetcbm.a
vice/src/fileio/.deps
vice/src/fileio/Makefile
vice/src/fileio/Makefile.in
vice/src/fileio/libfileio.a
vice/src/fsdevice/.deps
vice/src/fsdevice/Makefile
vice/src/fsdevice/Makefile.in
vice/src/fsdevice/libfsdevice.a
vice/src/gfxoutputdrv/.deps
vice/src/gfxoutputdrv/Makefile
vice/src/gfxoutputdrv/Makefile.in
vice/src/gfxoutputdrv/libgfxoutputdrv.a
vice/src/iecbus/.deps
vice/src/iecbus/Makefile
vice/src/iecbus/Makefile.in
vice/src/iecbus/libiecbus.a
vice/src/imagecontents/.deps
vice/src/imagecontents/Makefile
vice/src/imagecontents/Makefile.in
vice/src/imagecontents/libimagecontents.a
vice/src/lib/Makefile
vice/src/lib/Makefile.in
vice/src/lib/lpng/.deps
vice/src/lib/lpng/Makefile
vice/src/lib/lpng/Makefile.in
vice/src/lib/lpng/libpng.a
vice/src/lib/zlib/.deps
vice/src/lib/zlib/Makefile
vice/src/lib/zlib/Makefile.in
vice/src/lib/zlib/libz.a
vice/src/monitor/.deps
vice/src/monitor/Makefile
vice/src/monitor/Makefile.in
vice/src/monitor/libmonitor.a
vice/src/parallel/.deps
vice/src/parallel/Makefile
vice/src/parallel/Makefile.in
vice/src/parallel/libparallel.a
vice/src/pet/.deps
vice/src/pet/Makefile
vice/src/pet/Makefile.in
vice/src/pet/libpet.a
vice/src/petcat
vice/src/petcat.exe
vice/src/plus4/.deps
vice/src/plus4/Makefile
vice/src/plus4/Makefile.in
vice/src/plus4/libplus4.a
vice/src/printerdrv/.deps
vice/src/printerdrv/Makefile
vice/src/printerdrv/Makefile.in
vice/src/printerdrv/libprinterdrv.a
vice/src/raster/.deps
vice/src/raster/Makefile
vice/src/raster/Makefile.in
vice/src/raster/libraster.a
vice/src/resid-fp/.aclocal.out
vice/src/resid-fp/.autoconf.out
vice/src/resid-fp/.automake.out
vice/src/resid-fp/.deps
vice/src/resid-fp/Makefile
vice/src/resid-fp/Makefile.in
vice/src/resid-fp/aclocal.m4
vice/src/resid-fp/autom4te.cache
vice/src/resid-fp/config.log
vice/src/resid-fp/config.status
vice/src/resid-fp/configure
vice/src/resid-fp/convolve.cpp
vice/src/resid-fp/envelope.cpp
vice/src/resid-fp/extfilt.cpp
vice/src/resid-fp/filter.cpp
vice/src/resid-fp/libresidfp.a
vice/src/resid-fp/pot.cpp
vice/src/resid-fp/sid.cpp
vice/src/resid-fp/siddefs-fp.h
vice/src/resid-fp/version.cpp
vice/src/resid-fp/voice.cpp
vice/src/resid-fp/wave.cpp
vice/src/resid-fp/wave6581_PST.cpp
vice/src/resid-fp/wave6581_PS_.cpp
vice/src/resid-fp/wave6581_P_T.cpp
vice/src/resid-fp/wave6581__ST.cpp
vice/src/resid-fp/wave8580_PST.cpp
vice/src/resid-fp/wave8580_PS_.cpp
vice/src/resid-fp/wave8580_P_T.cpp
vice/src/resid-fp/wave8580__ST.cpp
vice/src/resid/.aclocal.out
vice/src/resid/.autoconf.out
vice/src/resid/.automake.out
vice/src/resid/.deps
vice/src/resid/Makefile
vice/src/resid/Makefile.in
vice/src/resid/aclocal.m4
vice/src/resid/autom4te.cache
vice/src/resid/config.log
vice/src/resid/config.status
vice/src/resid/configure
vice/src/resid/envelope.cpp
vice/src/resid/extfilt.cpp
vice/src/resid/filter.cpp
vice/src/resid/libresid.a
vice/src/resid/pot.cpp
vice/src/resid/sid.cpp
vice/src/resid/siddefs.h
vice/src/resid/version.cpp
vice/src/resid/voice.cpp
vice/src/resid/wave.cpp
vice/src/resid/wave6581_PST.cpp
vice/src/resid/wave6581_PS_.cpp
vice/src/resid/wave6581_P_T.cpp
vice/src/resid/wave6581__ST.cpp
vice/src/resid/wave8580_PST.cpp
vice/src/resid/wave8580_PS_.cpp
vice/src/resid/wave8580_P_T.cpp
vice/src/resid/wave8580__ST.cpp
vice/src/rs232drv/.deps
vice/src/rs232drv/Makefile
vice/src/rs232drv/Makefile.in
vice/src/rs232drv/librs232drv.a
vice/src/serial/.deps
vice/src/serial/Makefile
vice/src/serial/Makefile.in
vice/src/serial/libserial.a
vice/src/sid/.deps
vice/src/sid/Makefile
vice/src/sid/Makefile.in
vice/src/sid/libsid.a
vice/src/sid/resid.cpp
vice/src/sounddrv/.deps
vice/src/sounddrv/Makefile
vice/src/sounddrv/Makefile.in
vice/src/sounddrv/libsounddrv.a
vice/src/stamp-h1
vice/src/tape/.deps
vice/src/tape/Makefile
vice/src/tape/Makefile.in
vice/src/tape/libtape.a
vice/src/translate.c.po.c
vice/src/translate.h
vice/src/translate_table.h
vice/src/vdc/.deps
vice/src/vdc/Makefile
vice/src/vdc/Makefile.in
vice/src/vdc/libvdc.a
vice/src/vdrive/.deps
vice/src/vdrive/Makefile
vice/src/vdrive/Makefile.in
vice/src/vdrive/libvdrive.a
vice/src/vic20/.deps
vice/src/vic20/Makefile
vice/src/vic20/Makefile.in
vice/src/vic20/libvic20.a
vice/src/vicii/.deps
vice/src/vicii/Makefile
vice/src/vicii/Makefile.in
vice/src/vicii/libvicii.a
vice/src/vicii/libviciidtv.a
vice/src/video/.deps
vice/src/video/Makefile
vice/src/video/Makefile.in
vice/src/video/libvideo.a
vice/src/x128
vice/src/x128.exe
vice/src/x64
vice/src/x64.exe
vice/src/x64dtv
vice/src/x64dtv.exe
vice/src/xcbm2
vice/src/xcbm2.exe
vice/src/xpet
vice/src/xpet.exe
vice/src/xplus4
vice/src/xplus4.exe
vice/src/xvic
vice/src/xvic.exe
vice/ylwrap
